* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

html{
    scroll-behavior: smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clear{
    clear: both;
    padding-bottom: 100px;
}

.home {
    
    min-height: 650px;
    margin-top: 50px;
}



.navbar{
    justify-content: space-between;
    position: fixed;
    display: flex;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
    height: 50px;
    background-color: #222222;
}

#icon-menu-mobile{
    display: none;
}

.navbar .title a{
    padding-left: 50px;
    color: rgb(226 226 226);
    text-decoration: none;
}

.list {
    display: flex;
    list-style: none;
}

#list{
    display: none;
}

.list li a{
    text-decoration: none;
    font-size: 16px;
    padding: 10px 16px;
    color: rgb(226 226 226);
    line-height: 50px;
    font-weight: 500;
}

.list li:hover a{
    border-bottom: solid 5px #fff;
    animation: FadeIn ease 0.5s;
}


.caption {
    background: url("/assets/img/img-main.jpg") top center / cover no-repeat;
    margin-top: 46px;
    padding-top: 50%;
    position: relative;
}

.caption .text{
    color: #fff;
    position: absolute;
    text-align: center;
    width: 100%;
    font-weight: 100;
    justify-content: center;
    bottom: 200px;
}

.caption p{
    font-size: 16px;
}

.caption h1{
    font-size: 40px;
}

.caption #name{
    margin: 30px 0;
}

/* content */
/* about me */
.container-content{
    margin-top: 50px;
}


.about-me{
    padding: 100px 0;
    border-bottom: solid 2px #eee ;
}

.intro .title{
    position: relative;
    font-size: 30px;
}

.intro .title::after{
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    background: #0a3f8f;
    height: 1px;
    width: 78px;
}

.intro .content{
    padding-top: 50px;
}

.intro p{
    font-size: 16px;
    line-height: 1.8;
    color: #7e7e7e
}

.about-me img{
    width: 100%;
}

.infor{
    padding: 16px 0;
}

.infor a{
    color: #fff;
    text-decoration: none;
}

.btn{
    background: none;
    font-weight: bold;
    border: none;
    padding: 8px 20px;
    background-color: #0a3f8f;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}

.btn:hover
{
    color: #0a3f8f;
    background-color: #fff;
    border: solid 1px #0a3f8f;
    animation: FadeIn ease 1s;
}

@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* skill */

.skill{
    padding: 60px 0;
    border-bottom: solid 2px #eee ;
    background-color: rgb(226 226 226);
    padding-left: 20px;
    padding-right: 20px;
}


.item h6{
    padding-bottom: 8px;
    padding-top: 32px;
    font-size: 14px;
}

.skills-progress{
    width: 100%;
    height: 8px;
    position: relative;
    background: #3333333b;
}

.skills-progress span{
    height: 100%;
    width: 90%;
    background: #0a3f8f;
    left: 0;
    position: absolute;
}

.skills-progress span::after{
    content: attr(data-value);
    position: absolute;
    right: -10px;
    top: -15px;
    padding: 2px 5px;
    text-align: center;
    background-color: #f7f7f7;
    font-size: 10px;
}

.section-head{
    font-size: 35px;
    margin-bottom: 32px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

.section-head::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: calc(50% - 50px);
    height: 2px;
    width: 100px;
    background: #0a3f8f;
    z-index: 2;
}

.resume {
    padding: 60px 0;
    border-bottom: solid 2px #eee;
}

.tabs-icon ul{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 40px;
}

.tabs-icon ul li{
    display: inline-block;
    padding: 10px 44px;
    background: #0a3f8f;
    color: #fff;
    border-radius: 50px;
    margin: 0 -2px;
    cursor: pointer;
}

.tabs-icon ul li:last-child{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    font-size: 20px;
}

.tabs-icon ul li:first-child{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    font-size: 20px;
}


.resume .content .main-icon{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: solid 2px #eee;
    color: #0a3f8f;
    font-size: 38px;
    text-align: center;
    margin: 0 auto 50px
}

.resume .content .main-icon span {
    display: inline-block;
    font-size: 36px;
}

.resume .content .main-icon:after {
        content: '';
        width: 2px;
        height: 380px;
        background: #eee;
        position: absolute;
        bottom: -380px;
        left: calc(50% - 1px);
}

.inf{
    text-align: right;
}

.inf .date {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 28px;
    background: #0a3f8f;
    color: #fff;
    border-radius: 20px;
    position: relative;
}

.cont h6{
    padding-top: 5px;
    margin-bottom: 10px;
}

.cont-title{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
}

.cont p{
    line-height: 1.8;
    margin: 0;
    font-size: 16px;
    color: #7e7e7e;
}

.cont::after {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #FF305B;
    background: #fff;
    position: absolute;
    top: 0px;
    left: -22px;
    z-index: 9;
}

.container-date-2{
    display: flex;
    flex-direction: row-reverse;
}

.cont-2{
    text-align: right;
    padding-top: 66px;
}

.date-2{
    text-align: left;
    padding-top: 66px;
}

.date-3, .cont-3{
    padding-top: 66px;
}

/* dowload CV */

.content-dow-cv{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 40px;
}

.content-dow-cv h2{
    font-weight: 700;
    margin-bottom: 15px;
    letter-spacing: 1px;
    font-size: 50px;
}

.content-dow-cv h6{
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 18px;
    color: #222222;
}

.content-dow-cv a{
    text-decoration: none;
}

/* footer */

.footer {
    background-color: #222222;
    min-height: 200px;
    display: flex;
    text-align: center;
}

.footer .item{
    flex: 1;
    justify-content: center;
    padding-top: 50px;
    color: #eee;
}

.footer .item span:first-child{
    font-size: 34px;
    color: #0a3f8f;
}

.footer .item span:last-child{
    font-size: 17px;
    font-weight: 100;
}

.footer .item h6{
    font-size: 17px;
}

.footer .item h6 a{
    text-decoration: none;
    color: #eee;
    font-weight: 100;
}


/* responsive */

/* tablet */

